{% extends 'layout.html' %}


{% block title %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/canvas.css">
{% endblock %}


{% block content %}

  <div id="canvas-container">
  <canvas id="canvas" width="1000" height="1000"></canvas>
    <p>
      <button id="dots" class="btn btn-default">Fibonacci Dots!</button>
      <button id="torus" class="btn btn-default">Torus</button>
      <button id="fibSpiral" class="btn btn-default">Spiral</button>
      <button id="sunflower" class="btn btn-default">Sunflower</button>
      <br>
      <button id="clear" class="btn btn-default">Clear Canvas</button>
    </p>
  </div>

  <script type="text/javascript" src="/js/canvas.js"></script>

{% endblock %}
