{% extends 'layout.html' %}

{% block title %}
<link rel="stylesheet" href="css/homepage.css">
{% endblock %}


{% block content %}
<h1>STUFF WILL GO HERE!</h1>
<h3>MORE STUFF</h3>
<p>THIS IS JUST A TEST</p>
<div>
  <ul>
    <li>
      Important info
    </li>
  </ul>
  <ol>
    <li>
      <b>Relax!</b>
    </li>
    <li>
      This is still a work in progress.
    </li>
    <li>
      Right now it looks like something your dog leaves on the lawn.
    </li>
    <li>
      But just you wait.
    </li>
    <li>
      I don't have more filler stuff...
    </li>
    <li>
      This will probably be enough anyway :)
    </li>
  </ol>
</div>
{% endblock %}
